---
BasedOnStyle: LLVM

Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 0

BreakBeforeBraces: Allman

SortIncludes: true
IndentAccessModifiers: true

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
PointerAlignment: Left

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
...
